.cards .icones .card-body
    background-color: #E1DFDF
    .rounded-circle
        width: 55px
        height: 55px
        background-color: white
        .fas
            color: #5467BE
            align-items: center

.card-subtitle
    color: #5AA5D1

.lorem
    .jumbotron
        background-color: transparent
        margin: 0
        padding: 100px 0
        .btn-primary
            background-color: #3A98CE
    .card-body
        background-color: #3D4460
        width: 150px
    .col-7
        padding: 50px 0


    
